<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/web/favicon.ico" />
    {% block css %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{{ asset('css/secondary.css') }}" rel="stylesheet">
        <link href="{{ asset('css/nav.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
        <link href="{{ asset('css/eskju.jquery.scrollflow.css') }}" rel="stylesheet">
    {% endblock css %}
    {% block js %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ asset('js/eskju.jquery.scrollflow.min.js') }}"></script>
        <script src="{{ asset('js/skdslider.js') }}"></script>
    {% endblock js %}
    <title>{% block title %} {{ 'Welcome to my Blog!' }} {% endblock %}</title>
</head>
<body>
<header class="navi">
    {% include 'nav.html.twig' %}
</header>
    <div class="container">

        <!--flash msg-->
             {% block message %}
                {% for msg in app.session.flashBag.get('success') %}

                    <div class="row">
                        <div style="margin-top: 50px" class="alert alert-success col-md-2 col-md-offset-5 text-center">{{ msg }}</div>
                    </div>

                {% endfor %}
            {% endblock message %}
        <!--flash msg end-->

        <!--content-->

                <div class="row articles">
                        {% block main %}{% endblock %}
                </div>
    </div>
    <!--content-->
    <footer class="footer">
        <div class="container">
           <img class="col-md-offset-5" src="{{ asset('img/footer.png') }} "  height="80" width="142">
            <p class="text-muted col-md-offset-5">Copyrights and.. whatever</p>
        </div>
    </footer>
    </body>
</html>