{% extends 'base.html.twig' %}

{% block main %}
<div class="col-lg-12 main">
    <table class="table table-hover">
        <tr>
            <th>Author</th>
            <th>Article</th>
            <th>Comment</th>
            <th>Date</th>

        </tr>

            {% for comment in comments %}
        <tr>
                 <td>{{ comment.author.firstName }} {{ comment.author.lastName }}</td>
                 <td>{{ comment.article.title }}</td>
                 <td>{{ comment.content }}</td>
                 <td>{{ comment.publishedAt|date('Y-m-d H:i') }}</td>

        </tr>
            {% endfor %}

    </table>
    <div class="navigation col-md-offset-4">
        {{ knp_pagination_render(comments) }}
    </div>
</div>
{% endblock %}