{% extends 'base.html.twig' %}


{% block main %}
    <div class="col-sm-8 col-lg-8 main form">
        <h2>Tags already exists</h2>
        {% for tag in tags %}
            <span class="label label-info ">{{ tag }}</span>
        {% endfor %}
        <h2>New tag</h2>
        {{ form_start(Form) }}
        {{ form_widget(Form) }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
        {{ form_end(Form) }}
    </div>
        {% block topnews %}
            {{ render(controller('AppBundle:Article:topArticles')) }}
        {% endblock %}
{% endblock %}
