{% extends 'base.html.twig' %}

{% block main %}
    <div class="col-lg-12 main">
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Remove article</h4>
                    </div>
                    <div class="modal-body">Do you realy want to remove?</div>
                    <div class="modal-footer"><a class="btn btn-danger" href="{{ path('remove_article', {'id':article.id}) }}">Remove</a><a href="#modal" class="btn btn-default" type="button" data-dismiss="modal">Close</a></div>
                </div>
            </div>
        </div>
               <h1>{{ article.title }}</h1>
               <p><span class="glyphicon glyphicon-time" data-scrollflow-start="0" data-scrollflow-distance="30" data-scrollflow-amount="200"></span>
                   Posted on {{ article.publishedAt|date('Y-m-d H:i') }} by {{ article.author.firstName }} {{ article.author.lastName }}</p>

               <img class="image_block img-rounded" src="{{ asset('img/') }}{{ article.image }}"/>
                <hr>
        <a href="{{ path('edit_article', {'id':article.id}) }}"> <p class="glyphicon glyphicon-pencil">edit</p></a>
        <a href="#modal" role="button" data-toggle="modal" data-target="#myModal"><p class="glyphicon glyphicon-remove-circle">remove</p></a>
               <p class="lead">{{ article.content }}</p>

                         <p>Sing in to leave a comment</p>
    </div>
        {% block topnews %}
            {{ render(controller('AppBundle:Article:topArticles')) }}
        {% endblock %}

    <div class="col-lg-8  scrollflow -slide-right" data-scrollflow-start="0" data-scrollflow-distance="100" data-scrollflow-amount="30">
        <h2>Comments:</h2>
        {% for comment in comments %}
            <div class="comment main">
                <img src="{{ asset('img/') }}{{ comment.author.avatar }} ">
                <blockquote>
                    <p>{{ comment.content }}</p>
                    <small><cite>{{ comment.author.firstName }} {{ comment.author.lastName }}</cite></small>
                </blockquote>
                <p style="border-bottom: 2px solid gainsboro" class="small text-right"><span class="glyphicon glyphicon-time"></span> Posted on {{ comment.publishedAt|date('Y-m-d H:i') }}</p>
            </div>
        {% endfor %}
        <div class="navigation col-md-offset-4">
            {{ knp_pagination_render(comments) }}
        </div>
    </div>

    <script type="text/javascript">
        $("document").ready(function(){
            $('#modal').modal();
        });
    </script>

{% endblock %}
